@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i&display=swap&subset=latin-ext');

body {
  width: 100vw;
  color: #eee;
  background: #111111;
  margin: unset;
  font-family: 'Space Mono', monospace;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: unset;
}

header {
  color: #fe0;
  background: rgba(0, 0, 0, 0.8);
  height: 100px;
  position: fixed;
  z-index: 4;
  top: 0px;
  width: 100vw;
  font-weight: bold;
  border-bottom: 2px solid #fe0;
}

h1 {
  font-size: 5rem;
  margin: unset;
  font-weight: 800;
}

.uppercase {
  text-transform: uppercase;
}

.header-wrap {
  padding: 1rem;
}

.header-inner {
  max-width: 720px;
  width: 100%;
}

img {
  transform: scale(1);
  transition: transform 200ms ease;
}

img:hover {
  transform: scale(1.05);
}

input {
  font-family: 'Space Mono', monospace;
  background-color: transparent;
  border: 2px solid #fe0;
  color: #fe0;
  min-width: 256px;
  padding: unset !important;
}

textarea {
  width: 256px;
  font-family: 'Space Mono', monospace;
  background-color: transparent;
  border: 2px solid #fe0;
  color: #fe0;
  padding: unset;
  margin-bottom: 0.5rem;
}

.button {
  border: 2px solid #fe0;
  padding: 1rem;
  margin: 0.5rem;
}

.button:hover {
  border: 2px solid #fe0;
  padding: 1rem;
  background-color: #fe0;
}

.button:hover p {
  color: #111;
}

.button p {
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 2rem;
  margin: unset;
}

.button-sm {
  border: 2px solid #fe0;
  padding: 1rem;
  margin: 0.5rem;
}

.button-sm:hover {
  border: 2px solid #fe0;
  padding: 1rem;
  background-color: #fe0;
}

.button-sm:hover p {
  color: #111;
}

.button-sm p {
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 1rem;
  margin: unset;
}

.video {
  opacity: 0.5;
  width: 100vw;
  position: absolute;
}

footer {
  background-color: #111;
  /*! filter: invert(0.5); */
}

footer a{filter:invert(0.5);}
footer img{filter:invert(0.5);}

footer:hover a {
  filter: invert(1);
}
footer:hover img {
  filter: invert(1);
}

.menuitem {
  color: #fe0;
  text-decoration: none;
  height: 32px;
  line-height: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0px 1rem;
}

.menuitem:hover {
  text-decoration: overline;
}

.flex {
  display: flex;
}

.wrap2 {
  flex-flow: wrap;
}

.wrap {
  flex-flow: wrap;
}

.column {
  flex-flow: column;
}

.center {
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.between-center {
  justify-content: space-between;
}

video {
  opacity: 0.4;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0px;
  z-index: 1;
}

.section-full-hero {
  height: 100vh;
  border-bottom: 2px solid #fe0;
  background-color: #111;
  text-align: center;
  overflow: hidden;
  width: 100vw;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
}

.hero-content {
  margin: auto;
  color: #fe0;
  z-index: 2;
  padding: 1rem;
  max-width: 720px;
  line-height: 1;
  text-shadow: 2px 2px #555, 0px 0px 15px rgba(0, 0, 0, 0.2);
  border: 4px solid #fe0;
  box-shadow: 2px 2px #555;
  background-image: url(dot.png);
  background-size: 7px;
  background-color: rgba(0, 0, 0, 0.6);
}

.highlight-l {
  border-left: 2px solid #fe0;
  padding-left: 1rem;
  margin: 1rem;
}

.highlight-r {
  border-right: 2px solid #fe0;
  padding-right: 1rem;
  margin: 1rem;
}

.wide {
  width: 60%;
}

.half {
  max-width: 512px;
  width: 40%;
}

.menu {}

.even {
  flex-flow: space-evenly
}

.section-full {
  overflow: hidden;
  min-height: 100vh;
  padding: 1rem;
  border-bottom: 2px dotted #fe0;
  background-color: #111;
}

.section-half {
  min-height: 50vh;
  padding: 1rem;
  border-bottom: 2px dotted #fe0;
  background-color: #111;
  position: relative;
  z-index: 5;
}

@media screen and (max-width:900px) {
  .menu {
    padding: 0rem 1rem;
  }

  .section-full {
    overflow: hidden;
    min-height: 100vh;
    padding: 4rem 1rem;
    border-bottom: 2px dotted transparent;
    background-color: #111;
    position: relative;
    z-index: 2;
  }

  .section-half {
    min-height: 50vh;
    padding: 4rem 1rem;
    border-bottom: 2px dotted transparent;
    background-color: #111;
    position: relative;
    z-index: 5;
    position: relative;
    z-index: 2;
  }

  .wrap2 {
    flex-flow: wrap-reverse;
  }

  .row {
    flex-flow: wrap;
  }

  header {
    position: relative;
  }

  h1 {
    font-size: 3.4rem;
    margin: unset;
    /*! background-color:#fe0; */
    /*! padding: 1rem 0rem; */
  }

  h2 {
    margin: 0.5rem;
    line-height: 1.2;
    font-size: 1.5rem;
  }

  .menuitem {
    padding: 0rem 0.5rem;
  }

  .section-full-hero {
    height: calc(100vh - 100px);
    border-bottom: 2px solid #fe0;
    background-color: #111;
    text-align: center;
    overflow: hidden;
    width: 100vw;
  }

  .between-center {
    justify-content: center;
  }

  .button p {
    text-align: center;
    font-size: 1rem;
  }

  .button-sm p {
    text-align: center;
  }

  img {
    margin: auto;
  }

  .highlight-l {
    border: unset;
    padding: 1rem;
    margin: 1rem;
  }

  .highlight-r {
    border: unset;
    padding: 1rem;
    margin: 1rem;
  }

  .hero-content {
    margin: auto;
    color: #fe0;
    z-index: 2;
    padding: 1rem;
    max-width: 80%;
    line-height: 1;
    text-shadow: 1px 1px #555, 0px 0px 15px rgba(0, 0, 0, 0.2);
    border: unset;
    background-image: unset;
    background-size: 7px;
    background-color: unset;
    box-shadow: unset;
  }

  video {
    opacity: 0.4;
    height: 100vh;
    min-height: unset;
    width: auto;
    min-width: unset;
    position: absolute;
    top: 0px;
    z-index: 1;
  }

  .wide {
    width: calc(100% - 4px);
  }

  .half {
    margin: auto;
    max-width: 512px;
    width: 100%;
  }
}
}
